In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
% matplotlib inline

In [2]:
path = "../../Data/Exam Data/2015/CMPN SEM-VI MAY14.xlsx"

In [3]:
sem_6_2015_df = pd.read_excel(path)

In [4]:
sem_6_2015_df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 164 entries, nan to nan
Data columns (total 42 columns):
EXAM SEAT NO.            161 non-null object
NAME OF THE CANDIDATE    163 non-null object
ACN                      164 non-null object
Unnamed: 3               15 non-null object
Unnamed: 4               164 non-null object
Unnamed: 5               19 non-null object
Unnamed: 6               164 non-null object
Unnamed: 7               19 non-null object
SPCC                     164 non-null object
Unnamed: 9               14 non-null object
Unnamed: 10              164 non-null object
Unnamed: 11              19 non-null object
Unnamed: 12              164 non-null object
Unnamed: 13              19 non-null object
OOSE                     164 non-null object
Unnamed: 15              15 non-null object
Unnamed: 16              164 non-null object
Unnamed: 17              19 non-null object
Unnamed: 18              164 non-null object
Unnamed: 19              19 non-null object
AMP                      164 non-null object
Unnamed: 21              12 non-null object
Unnamed: 22              164 non-null object
Unnamed: 23              19 non-null object
Unnamed: 24              164 non-null object
Unnamed: 25              19 non-null object
DWM                      164 non-null object
Unnamed: 27              16 non-null object
Unnamed: 28              164 non-null object
Unnamed: 29              19 non-null object
Unnamed: 30              164 non-null object
Unnamed: 31              19 non-null object
SEMR                     164 non-null object
Unnamed: 33              19 non-null object
Unnamed: 34              164 non-null object
Unnamed: 35              19 non-null object
TOT VI                   162 non-null object
TOT V                    162 non-null object
GNT                      162 non-null float64
REMARK                   161 non-null object
CLASS                    161 non-null object
Unnamed: 41              17 non-null object
dtypes: float64(1), object(41)
memory usage: 55.1+ KB

In [5]:
#removed the rows where seatnumber was not present
sem_6_2015_df.dropna(subset=['EXAM SEAT NO.'],inplace=True)

In [6]:
#removed the rows where all the values were NaN
sem_6_2015_df.dropna(axis=0, how='all',inplace=True)

In [7]:
#made seatnumber as the index of the dataframe as there was no index.
sem_6_2015_df.index = sem_6_2015_df['EXAM SEAT NO.']
sem_6_2015_df.head(1)

,EXAM SEAT NO.,NAME OF THE CANDIDATE,ACN,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,SPCC,Unnamed: 9,...,SEMR,Unnamed: 33,Unnamed: 34,Unnamed: 35,TOT VI,TOT V,GNT,REMARK,CLASS,Unnamed: 41
EXAM SEAT NO.,,,,,,,,,,,,,,,,,,,,,
146201,146201,ADMANE PRADEEP VIDNYANRAO,41,NaN,20,NaN,44,NaN,60,NaN,...,21,NaN,20,NaN,506,470*+,976.0,PASS,II,Nine Hundred Seventy Six

In [8]:
sem_6_2015_df.columns.values[[3,4,5,6,7]] = ["ACN_Theory_Grade", "ACN_TW", "ACN_TW_Grade", "ACN_P&O", "ACN_P&O_Grade"]
sem_6_2015_df.columns.values[[9,10,11,12,13]] = ["SPCC_Theory_Grade", "SPCC_TW", "SPCC_TW_Grade", "SPCC_P&O", "SPCC_P&O_Grade"]
sem_6_2015_df.columns.values[[15,16,17,18,19]] = ["OOSE_Theory_Grade", "OOSE_TW", "OOSE_TW_Grade", "OOSE_P&O", "OOSE_P&O_Grade"]

In [9]:
sem_6_2015_df.columns.values[[21,22,23,24,25]] = ["AMP_Theory_Grade", "AMP_TW", "AMP_TW_Grade", "AMP_P&O", "AMP_P&O_Grade"]
sem_6_2015_df.columns.values[[27,28,29,30,31]] = ["DWM_Theory_Grade", "DWM_TW", "DWM_TW_Grade", "DWM_P&O", "DWM_P&O_Grade"]

In [ ]:
sem_6_2015_df.columns.values[[33,34,35]] = [ "SEMR_TW_Grade", "SEMR_P&O", "SEMR_P&O_Grade"]

In [ ]:
sem_6_2015_df.columns.values[41] = ["Marks_in_words"]
sem_6_2015_df.head()

In [ ]:
sem_6_2015_df['ACN'] = pd.to_numeric(sem_6_2015_df['ACN'], errors='coerce')
sem_6_2015_df['ACN_TW'] = pd.to_numeric(sem_6_2015_df['ACN_TW'], errors='coerce')
sem_6_2015_df['ACN_P&O'] = pd.to_numeric(sem_6_2015_df['ACN_P&O'], errors='coerce')

sem_6_2015_df['SPCC'] = pd.to_numeric(sem_6_2015_df['SPCC'], errors='coerce')
sem_6_2015_df['SPCC_TW'] = pd.to_numeric(sem_6_2015_df['SPCC_TW'], errors='coerce')
sem_6_2015_df['SPCC_P&O'] = pd.to_numeric(sem_6_2015_df['SPCC_P&O'], errors='coerce')


sem_6_2015_df['OOSE'] = pd.to_numeric(sem_6_2015_df['OOSE'], errors='coerce')
sem_6_2015_df['OOSE_TW'] = pd.to_numeric(sem_6_2015_df['OOSE_TW'], errors='coerce')
sem_6_2015_df['OOSE_P&O'] = pd.to_numeric(sem_6_2015_df['OOSE_P&O'], errors='coerce')

In [ ]:
sem_6_2015_df['AMP'] = pd.to_numeric(sem_6_2015_df['AMP'], errors='coerce')
sem_6_2015_df['AMP_TW'] = pd.to_numeric(sem_6_2015_df['AMP_TW'], errors='coerce')
sem_6_2015_df['AMP_P&O'] = pd.to_numeric(sem_6_2015_df['AMP_P&O'], errors='coerce')

sem_6_2015_df['DWM'] = pd.to_numeric(sem_6_2015_df['DWM'], errors='coerce')
sem_6_2015_df['DWM_TW'] = pd.to_numeric(sem_6_2015_df['DWM_TW'], errors='coerce')
sem_6_2015_df['DWM_P&O'] = pd.to_numeric(sem_6_2015_df['DWM_P&O'], errors='coerce')

sem_6_2015_df['SEMR'] = pd.to_numeric(sem_6_2015_df['SEMR'], errors='coerce')
sem_6_2015_df['SEMR_P&O'] = pd.to_numeric(sem_6_2015_df['SEMR_P&O'], errors='coerce')

sem_6_2015_df['TOT VI'] = pd.to_numeric(sem_6_2015_df['TOT VI'], errors='coerce')
sem_6_2015_df['TOT V'] = pd.to_numeric(sem_6_2015_df['TOT V'], errors='coerce')
sem_6_2015_df['GNT'] = pd.to_numeric(sem_6_2015_df['GNT'], errors='coerce')

In [ ]:
sem_6_2015_df.describe()

In [ ]:
sem_6_2015_df.head()

In [ ]:
plt.hist(sem_6_2015_df.REMARKS)
plt.show()

In [ ]:
Writer = pd.Excel.Writer('Sem-6_2015_Passout_cleaned.xlsx')

In [ ]:
sem_6_2015_df.to_excel(writer,"Sem-6_2015_Passout_cleaned")
writer.save()