In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
% matplotlib inline

In [2]:
sem3_2017 = '../../Cleaned-Data/2017-Passouts/Sem-3_2017_Passout_cleaned.xlsx'
sem4_2017 = '../../Cleaned-Data/2017-Passouts/Sem-4_2017_Passout_cleaned.xlsx'
sem5_2017 = '../../Cleaned-Data/2017-Passouts/Sem-5_2017_Passout_cleaned.xlsx'
sem6_2017 = '../../Cleaned-Data/2017-Passouts/Sem-6_2017_Passout_cleaned.xlsx'

In [3]:
sem3_df = pd.read_excel(sem3_2017)
sem4_df = pd.read_excel(sem4_2017)
sem5_df = pd.read_excel(sem5_2017)
sem6_df = pd.read_excel(sem6_2017)

In [4]:
sem3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 25 columns):
Name       197 non-null object
Gender     197 non-null int64
Sno        197 non-null object
M3-TH      197 non-null int64
M3-IA      197 non-null int64
M3-TW      197 non-null int64
DIS-TH     197 non-null int64
DIS-IA     197 non-null int64
OOPM-TH    197 non-null int64
OOPM-IA    197 non-null int64
OOPM-TW    197 non-null int64
OOPM-PR    197 non-null int64
ECCF-TH    197 non-null int64
ECCF-IA    197 non-null int64
ECCF-TW    197 non-null int64
ECCF-PR    197 non-null int64
DS-TH      197 non-null int64
DS-IA      197 non-null int64
DS-TW      197 non-null int64
DS-PR      197 non-null int64
DLDA-TH    197 non-null int64
DLDA-IA    197 non-null int64
DLDA-TW    197 non-null int64
P/F        197 non-null object
GPA        197 non-null float64
dtypes: float64(1), int64(21), object(3)
memory usage: 36.2+ KB

In [5]:
sem4_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 26 columns):
Name       145 non-null object
Gender     168 non-null int64
Sno        145 non-null float64
M4-TH      145 non-null float64
M4-IA      145 non-null float64
M4-TW      145 non-null float64
TCS-TH     145 non-null float64
TCS-IA     145 non-null float64
AOA-TH     145 non-null float64
AOA-IA     145 non-null float64
AOA-TW     145 non-null float64
AOA-PR     145 non-null float64
CG-TH      145 non-null float64
CG-IA      145 non-null float64
CG-TW      145 non-null float64
CG-PR      145 non-null float64
COA-TH     145 non-null float64
COA-IA     145 non-null float64
COA-TW     145 non-null float64
COA-PR     145 non-null float64
DBMS-TH    145 non-null float64
DBMS-IA    145 non-null float64
DBMS-TW    145 non-null float64
DBMS-PR    145 non-null float64
P/F        145 non-null object
CGPA       145 non-null float64
dtypes: float64(23), int64(1), object(2)
memory usage: 32.8+ KB

In [6]:
sem5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 24 columns):
Name       157 non-null object
Gender     157 non-null int64
Sno        157 non-null object
MP-TH      157 non-null int64
MP-IA      157 non-null int64
MP-TW      157 non-null int64
MP-PR      157 non-null int64
WTL-TW     157 non-null int64
WTL-PR     157 non-null int64
OS-TH      157 non-null int64
OS-IA      157 non-null int64
OS-TW      157 non-null int64
OS-PR      157 non-null int64
BCE-TW     157 non-null int64
SOAD-TH    157 non-null int64
SOAD-IA    157 non-null int64
SOAD-TW    157 non-null int64
SOAD-PR    157 non-null int64
CN-TH      157 non-null int64
CN-IA      157 non-null int64
CN-TW      157 non-null int64
CN-PR      157 non-null int64
P/F        157 non-null object
CGPA       157 non-null float64
dtypes: float64(1), int64(20), object(3)
memory usage: 27.6+ KB

In [7]:
sem6_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 24 columns):
Name        145 non-null object
Gender      120 non-null float64
Seat No.    145 non-null object
SPCC-TH     145 non-null int64
SPCC-IA     145 non-null int64
SPCC-TW     145 non-null int64
SPCC-PR     145 non-null int64
SE-TH       145 non-null int64
SE-IA       145 non-null int64
SE-TW       145 non-null int64
SE-PR       145 non-null int64
DD-TH       145 non-null int64
DD-IA       145 non-null int64
DD-TW       145 non-null int64
DD-PR       145 non-null int64
MCC-TH      145 non-null int64
MCC-IA      145 non-null int64
MCC-TW      145 non-null int64
MCC-PR      145 non-null int64
PM-TW       145 non-null int64
NP-TW       145 non-null int64
NP-PR       145 non-null int64
P/F         145 non-null object
GPA         145 non-null float64
dtypes: float64(2), int64(19), object(3)
memory usage: 25.5+ KB

In [8]:
merge = pd.concat([sem3_df.set_index('Name'), sem4_df.set_index('Name'), sem5_df.set_index('Name'), sem6_df.set_index('Name')], axis=1, join='inner')
merge.head()

,Gender,Sno,M3-TH,M3-IA,M3-TW,DIS-TH,DIS-IA,OOPM-TH,OOPM-IA,OOPM-TW,...,DD-PR,MCC-TH,MCC-IA,MCC-TW,MCC-PR,PM-TW,NP-TW,NP-PR,P/F,GPA
Name,,,,,,,,,,,,,,,,,,,,,
AGRE KIRAN SHASHIKANT,0,243201,78,19,20,67,19,56,20,24,...,22,55,17,23,21,48,20,42,P,9.33
AGRAWAL CHANCHAL RAKESH,1,243202,32,15,21,38,17,56,18,23,...,14,52,15,19,20,38,21,40,P,8.46
ANISH SRIDHAR,0,243203,33,13,21,36,12,32,13,21,...,13,15,10,19,18,38,21,36,F,0.00
CHAKRABORTY UTTIYO UTTAM,0,243205,15,14,15,36,17,35,8,20,...,13,23,14,21,18,37,20,39,F,0.00
BEDEKAR PRIYANKA VASANT,1,243206,67,18,21,52,15,52,19,23,...,17,63,17,19,19,46,21,43,P,9.88

In [9]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 118 entries, AGRE KIRAN SHASHIKANT to YADAV ANAND SANTOSH
Data columns (total 95 columns):
Gender      118 non-null int64
Sno         118 non-null object
M3-TH       118 non-null int64
M3-IA       118 non-null int64
M3-TW       118 non-null int64
DIS-TH      118 non-null int64
DIS-IA      118 non-null int64
OOPM-TH     118 non-null int64
OOPM-IA     118 non-null int64
OOPM-TW     118 non-null int64
OOPM-PR     118 non-null int64
ECCF-TH     118 non-null int64
ECCF-IA     118 non-null int64
ECCF-TW     118 non-null int64
ECCF-PR     118 non-null int64
DS-TH       118 non-null int64
DS-IA       118 non-null int64
DS-TW       118 non-null int64
DS-PR       118 non-null int64
DLDA-TH     118 non-null int64
DLDA-IA     118 non-null int64
DLDA-TW     118 non-null int64
P/F         118 non-null object
GPA         118 non-null float64
Gender      118 non-null int64
Sno         118 non-null float64
M4-TH       118 non-null float64
M4-IA       118 non-null float64
M4-TW       118 non-null float64
TCS-TH      118 non-null float64
TCS-IA      118 non-null float64
AOA-TH      118 non-null float64
AOA-IA      118 non-null float64
AOA-TW      118 non-null float64
AOA-PR      118 non-null float64
CG-TH       118 non-null float64
CG-IA       118 non-null float64
CG-TW       118 non-null float64
CG-PR       118 non-null float64
COA-TH      118 non-null float64
COA-IA      118 non-null float64
COA-TW      118 non-null float64
COA-PR      118 non-null float64
DBMS-TH     118 non-null float64
DBMS-IA     118 non-null float64
DBMS-TW     118 non-null float64
DBMS-PR     118 non-null float64
P/F         118 non-null object
CGPA        118 non-null float64
Gender      118 non-null int64
Sno         118 non-null object
MP-TH       118 non-null int64
MP-IA       118 non-null int64
MP-TW       118 non-null int64
MP-PR       118 non-null int64
WTL-TW      118 non-null int64
WTL-PR      118 non-null int64
OS-TH       118 non-null int64
OS-IA       118 non-null int64
OS-TW       118 non-null int64
OS-PR       118 non-null int64
BCE-TW      118 non-null int64
SOAD-TH     118 non-null int64
SOAD-IA     118 non-null int64
SOAD-TW     118 non-null int64
SOAD-PR     118 non-null int64
CN-TH       118 non-null int64
CN-IA       118 non-null int64
CN-TW       118 non-null int64
CN-PR       118 non-null int64
P/F         118 non-null object
CGPA        118 non-null float64
Gender      104 non-null float64
Seat No.    118 non-null object
SPCC-TH     118 non-null int64
SPCC-IA     118 non-null int64
SPCC-TW     118 non-null int64
SPCC-PR     118 non-null int64
SE-TH       118 non-null int64
SE-IA       118 non-null int64
SE-TW       118 non-null int64
SE-PR       118 non-null int64
DD-TH       118 non-null int64
DD-IA       118 non-null int64
DD-TW       118 non-null int64
DD-PR       118 non-null int64
MCC-TH      118 non-null int64
MCC-IA      118 non-null int64
MCC-TW      118 non-null int64
MCC-PR      118 non-null int64
PM-TW       118 non-null int64
NP-TW       118 non-null int64
NP-PR       118 non-null int64
P/F         118 non-null object
GPA         118 non-null float64
dtypes: float64(27), int64(61), object(7)
memory usage: 84.8+ KB

In [10]:
merge.describe()

,Gender,M3-TH,M3-IA,M3-TW,DIS-TH,DIS-IA,OOPM-TH,OOPM-IA,OOPM-TW,OOPM-PR,...,DD-TW,DD-PR,MCC-TH,MCC-IA,MCC-TW,MCC-PR,PM-TW,NP-TW,NP-PR,GPA
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,...,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,0.296610,39.779661,15.449153,19.059322,41.898305,16.567797,48.525424,16.957627,22.279661,22.169492,...,19.203390,18.627119,43.872881,14.364407,20.313559,19.822034,44.254237,21.745763,40.550847,7.224322
std,0.458711,18.124043,2.574024,2.418915,11.754170,2.844935,9.666854,3.042137,1.455233,1.422079,...,2.384277,3.388761,13.222971,3.500098,2.567713,2.994671,5.645036,1.445219,5.181488,2.881173
min,0.000000,0.000000,8.000000,15.000000,0.000000,8.000000,12.000000,8.000000,18.000000,18.000000,...,12.000000,12.000000,8.000000,8.000000,14.000000,0.000000,0.000000,11.000000,0.000000,0.000000
25%,0.000000,32.000000,14.000000,17.250000,34.000000,15.000000,42.000000,15.000000,22.000000,21.000000,...,18.000000,16.000000,35.250000,12.000000,19.000000,19.000000,45.000000,21.000000,39.000000,7.330000
50%,0.000000,39.500000,16.000000,20.000000,42.000000,17.000000,50.000000,18.000000,22.000000,22.000000,...,19.000000,19.000000,45.000000,15.000000,21.000000,20.000000,46.000000,22.000000,41.000000,8.000000
75%,1.000000,52.750000,17.000000,21.000000,50.000000,19.000000,55.000000,19.750000,23.000000,23.000000,...,21.000000,22.000000,53.000000,17.000000,22.000000,22.000000,47.000000,22.000000,43.000000,8.790000
max,1.000000,78.000000,20.000000,24.000000,68.000000,20.000000,67.000000,20.000000,24.000000,24.000000,...,24.000000,24.000000,72.000000,20.000000,24.000000,24.000000,49.000000,24.000000,48.000000,10.000000

In [11]:
merge = merge.drop(['Sno', 'Seat No.'], axis=1)
merge.head()

,Gender,M3-TH,M3-IA,M3-TW,DIS-TH,DIS-IA,OOPM-TH,OOPM-IA,OOPM-TW,OOPM-PR,...,DD-PR,MCC-TH,MCC-IA,MCC-TW,MCC-PR,PM-TW,NP-TW,NP-PR,P/F,GPA
Name,,,,,,,,,,,,,,,,,,,,,
AGRE KIRAN SHASHIKANT,0,78,19,20,67,19,56,20,24,24,...,22,55,17,23,21,48,20,42,P,9.33
AGRAWAL CHANCHAL RAKESH,1,32,15,21,38,17,56,18,23,23,...,14,52,15,19,20,38,21,40,P,8.46
ANISH SRIDHAR,0,33,13,21,36,12,32,13,21,22,...,13,15,10,19,18,38,21,36,F,0.00
CHAKRABORTY UTTIYO UTTAM,0,15,14,15,36,17,35,8,20,19,...,13,23,14,21,18,37,20,39,F,0.00
BEDEKAR PRIYANKA VASANT,1,67,18,21,52,15,52,19,23,23,...,17,63,17,19,19,46,21,43,P,9.88

In [12]:
writer = pd.ExcelWriter('../../Cleaned-Data/2017-Passouts/2017_merged.xlsx')

In [13]:
merge.to_excel(writer,"2016_merged")
writer.save()