In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
% matplotlib inline

In [2]:
sem3_2016 = '../../Cleaned-Data/2016-Passouts/Sem-3_2016_Passout_cleaned.xlsx'
sem4_2016 = '../../Cleaned-Data/2016-Passouts/Sem-4_2016_Passout_cleaned.xlsx'
sem5_2016 = '../../Cleaned-Data/2016-Passouts/Sem-5_2016_Passout_cleaned.xlsx'
sem6_2016 = '../../Cleaned-Data/2016-Passouts/Sem-6_2016_Passout_cleaned.xlsx'

In [3]:
sem3_df = pd.read_excel(sem3_2016)
sem4_df = pd.read_excel(sem4_2016)
sem5_df = pd.read_excel(sem5_2016)
sem6_df = pd.read_excel(sem6_2016)

In [4]:
sem3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 24 columns):
Name       172 non-null object
SNO        172 non-null object
M3-TH      172 non-null int64
M3-IA      172 non-null int64
M3-TW      172 non-null int64
DIS-TH     172 non-null int64
DIS-IA     172 non-null int64
OOPM-TH    172 non-null int64
OOPM-IA    172 non-null int64
OOPM-TW    172 non-null int64
OOPM-PR    172 non-null int64
ECCF-TH    172 non-null int64
ECCF-IA    172 non-null int64
ECCF-TW    172 non-null int64
ECCF-PR    172 non-null int64
DS-TH      172 non-null int64
DS-IA      172 non-null int64
DS-TW      172 non-null int64
DS-PR      172 non-null int64
DLDA-TH    172 non-null int64
DLDA-IA    172 non-null int64
DLDA-PR    172 non-null int64
P/F        172 non-null object
GPA        172 non-null float64
dtypes: float64(1), int64(20), object(3)
memory usage: 32.3+ KB

In [5]:
sem4_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 25 columns):
Name       170 non-null object
Sno        170 non-null int64
M4-TH      170 non-null int64
M4-IA      170 non-null int64
M4-TW      170 non-null int64
TCS-TH     170 non-null int64
TCS-IA     170 non-null int64
AOA-TH     170 non-null int64
AOA-IA     170 non-null int64
AOA-TW     170 non-null int64
AOA-PR     170 non-null int64
CG-TH      170 non-null int64
CG-IA      170 non-null int64
CG-TW      170 non-null int64
CG-PR      170 non-null int64
COA-TH     170 non-null int64
COA-IA     170 non-null int64
COA-TW     170 non-null int64
COA-PR     170 non-null int64
DBMS-TH    170 non-null int64
DBMS-IA    170 non-null int64
DBMS-TW    170 non-null int64
DBMS-PR    170 non-null int64
P/F        170 non-null object
GPA        170 non-null float64
dtypes: float64(1), int64(22), object(2)
memory usage: 33.3+ KB

In [6]:
sem5_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166 entries, 0 to 165
Data columns (total 23 columns):
Name        166 non-null object
Sno         166 non-null object
MP-TH       166 non-null int64
MP-IA       166 non-null int64
MP-TW       166 non-null int64
MP-PR       166 non-null int64
WTL-TW      166 non-null int64
WTL-PR      166 non-null int64
BCE-TW      166 non-null int64
OS-TH       166 non-null int64
OS-IA       166 non-null int64
OS-TW       166 non-null int64
OS-PR       166 non-null int64
SOOAD-TH    166 non-null int64
SOOAD-IA    166 non-null int64
SOOAD-PR    166 non-null int64
SOOAD-TW    166 non-null int64
CN-TH       166 non-null int64
CN-IA       166 non-null int64
CN-TW       166 non-null int64
CN-PR       166 non-null int64
P/F         166 non-null object
GPA         166 non-null float64
dtypes: float64(1), int64(19), object(3)
memory usage: 29.9+ KB

In [7]:
sem6_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 23 columns):
Name        159 non-null object
Sno         159 non-null object
SPCC-TH     159 non-null int64
SPCC-TW     159 non-null int64
SPCC-IA     159 non-null int64
SPCC-PR     159 non-null int64
ELEC1-TW    159 non-null int64
SE-TH       159 non-null int64
SE-TW       159 non-null int64
SE-IA       159 non-null int64
SE-PR       159 non-null int64
NPL-TW      159 non-null int64
NPL-PR      159 non-null int64
DD-TH       159 non-null int64
DD-TW       159 non-null int64
DD-IA       159 non-null int64
DD-PR       159 non-null int64
MCC-TH      159 non-null int64
MCC-TW      159 non-null int64
MCC-IA      159 non-null int64
MCC-PR      159 non-null int64
P/F         159 non-null object
GPA         159 non-null float64
dtypes: float64(1), int64(19), object(3)
memory usage: 28.6+ KB

In [8]:
merge = pd.concat([sem3_df.set_index('Name'), sem4_df.set_index('Name'), sem5_df.set_index('Name'), sem6_df.set_index('Name')], axis=1, join='inner')
merge.head()

,SNO,M3-TH,M3-IA,M3-TW,DIS-TH,DIS-IA,OOPM-TH,OOPM-IA,OOPM-TW,OOPM-PR,...,DD-TH,DD-TW,DD-IA,DD-PR,MCC-TH,MCC-TW,MCC-IA,MCC-PR,P/F,GPA
Name,,,,,,,,,,,,,,,,,,,,,
AGRAWAL TEJAL GAJENDRA,233201,19,18,24,58,20,60,20,24,24,...,47,23,18,23,40,23,19,24,P,7.67
ANSARI ASIF ILIYAS,233204,35,15,13,33,17,58,19,22,21,...,33,20,12,18,21,20,14,18,F,0.00
ANUPAM RAJKUMAR DWIVEDI,233205,25,16,14,32,12,46,20,23,23,...,32,20,10,18,32,19,14,16,P,6.46
APTE SHWETA SUDHIR,233206,35,16,20,36,20,65,20,24,24,...,47,21,14,19,41,23,19,20,P,7.92
BAIKAR SACHIN SITARAM,233207,3,10,13,43,20,50,15,19,19,...,32,20,16,21,47,20,17,24,P,7.29

In [9]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 141 entries, AGRAWAL TEJAL GAJENDRA to YEDE AKASH NIVRUTTI
Data columns (total 91 columns):
SNO         141 non-null object
M3-TH       141 non-null int64
M3-IA       141 non-null int64
M3-TW       141 non-null int64
DIS-TH      141 non-null int64
DIS-IA      141 non-null int64
OOPM-TH     141 non-null int64
OOPM-IA     141 non-null int64
OOPM-TW     141 non-null int64
OOPM-PR     141 non-null int64
ECCF-TH     141 non-null int64
ECCF-IA     141 non-null int64
ECCF-TW     141 non-null int64
ECCF-PR     141 non-null int64
DS-TH       141 non-null int64
DS-IA       141 non-null int64
DS-TW       141 non-null int64
DS-PR       141 non-null int64
DLDA-TH     141 non-null int64
DLDA-IA     141 non-null int64
DLDA-PR     141 non-null int64
P/F         141 non-null object
GPA         141 non-null float64
Sno         141 non-null int64
M4-TH       141 non-null int64
M4-IA       141 non-null int64
M4-TW       141 non-null int64
TCS-TH      141 non-null int64
TCS-IA      141 non-null int64
AOA-TH      141 non-null int64
AOA-IA      141 non-null int64
AOA-TW      141 non-null int64
AOA-PR      141 non-null int64
CG-TH       141 non-null int64
CG-IA       141 non-null int64
CG-TW       141 non-null int64
CG-PR       141 non-null int64
COA-TH      141 non-null int64
COA-IA      141 non-null int64
COA-TW      141 non-null int64
COA-PR      141 non-null int64
DBMS-TH     141 non-null int64
DBMS-IA     141 non-null int64
DBMS-TW     141 non-null int64
DBMS-PR     141 non-null int64
P/F         141 non-null object
GPA         141 non-null float64
Sno         141 non-null object
MP-TH       141 non-null int64
MP-IA       141 non-null int64
MP-TW       141 non-null int64
MP-PR       141 non-null int64
WTL-TW      141 non-null int64
WTL-PR      141 non-null int64
BCE-TW      141 non-null int64
OS-TH       141 non-null int64
OS-IA       141 non-null int64
OS-TW       141 non-null int64
OS-PR       141 non-null int64
SOOAD-TH    141 non-null int64
SOOAD-IA    141 non-null int64
SOOAD-PR    141 non-null int64
SOOAD-TW    141 non-null int64
CN-TH       141 non-null int64
CN-IA       141 non-null int64
CN-TW       141 non-null int64
CN-PR       141 non-null int64
P/F         141 non-null object
GPA         141 non-null float64
Sno         141 non-null object
SPCC-TH     141 non-null int64
SPCC-TW     141 non-null int64
SPCC-IA     141 non-null int64
SPCC-PR     141 non-null int64
ELEC1-TW    141 non-null int64
SE-TH       141 non-null int64
SE-TW       141 non-null int64
SE-IA       141 non-null int64
SE-PR       141 non-null int64
NPL-TW      141 non-null int64
NPL-PR      141 non-null int64
DD-TH       141 non-null int64
DD-TW       141 non-null int64
DD-IA       141 non-null int64
DD-PR       141 non-null int64
MCC-TH      141 non-null int64
MCC-TW      141 non-null int64
MCC-IA      141 non-null int64
MCC-PR      141 non-null int64
P/F         141 non-null object
GPA         141 non-null float64
dtypes: float64(4), int64(80), object(7)
memory usage: 101.3+ KB

In [10]:
merge.describe()

,M3-TH,M3-IA,M3-TW,DIS-TH,DIS-IA,OOPM-TH,OOPM-IA,OOPM-TW,OOPM-PR,ECCF-TH,...,NPL-PR,DD-TH,DD-TW,DD-IA,DD-PR,MCC-TH,MCC-TW,MCC-IA,MCC-PR,GPA
count,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,...,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000
mean,25.546099,14.758865,15.510638,38.127660,17.382979,51.609929,17.113475,21.453901,21.702128,31.609929,...,42.836879,43.368794,21.269504,14.404255,20.702128,39.617021,20.560284,15.964539,20.297872,7.026950
std,14.906123,2.399109,4.567927,8.833258,2.568100,11.821151,3.002599,1.998125,1.620162,10.363930,...,2.776493,10.761978,1.562413,2.999949,1.911412,9.127400,2.358476,2.874547,2.584969,2.542189
min,2.000000,8.000000,10.000000,11.000000,8.000000,8.000000,8.000000,18.000000,18.000000,2.000000,...,37.000000,1.000000,18.000000,8.000000,16.000000,13.000000,12.000000,9.000000,15.000000,0.000000
25%,14.000000,14.000000,11.000000,32.000000,16.000000,42.000000,16.000000,20.000000,20.000000,32.000000,...,41.000000,35.000000,20.000000,12.000000,19.000000,34.000000,19.000000,14.000000,19.000000,7.040000
50%,23.000000,15.000000,15.000000,37.000000,18.000000,53.000000,18.000000,22.000000,22.000000,32.000000,...,43.000000,44.000000,21.000000,15.000000,21.000000,39.000000,21.000000,16.000000,20.000000,7.830000
75%,32.000000,17.000000,20.000000,45.000000,20.000000,62.000000,19.000000,23.000000,23.000000,38.000000,...,44.000000,51.000000,23.000000,17.000000,22.000000,46.000000,22.000000,19.000000,23.000000,8.250000
max,78.000000,19.000000,24.000000,59.000000,20.000000,70.000000,20.000000,24.000000,24.000000,66.000000,...,48.000000,68.000000,24.000000,20.000000,24.000000,62.000000,24.000000,20.000000,24.000000,9.500000

In [11]:
merge = merge.drop(['SNO', 'Sno'], axis=1)
merge.head()

,M3-TH,M3-IA,M3-TW,DIS-TH,DIS-IA,OOPM-TH,OOPM-IA,OOPM-TW,OOPM-PR,ECCF-TH,...,DD-TH,DD-TW,DD-IA,DD-PR,MCC-TH,MCC-TW,MCC-IA,MCC-PR,P/F,GPA
Name,,,,,,,,,,,,,,,,,,,,,
AGRAWAL TEJAL GAJENDRA,19,18,24,58,20,60,20,24,24,32,...,47,23,18,23,40,23,19,24,P,7.67
ANSARI ASIF ILIYAS,35,15,13,33,17,58,19,22,21,32,...,33,20,12,18,21,20,14,18,F,0.00
ANUPAM RAJKUMAR DWIVEDI,25,16,14,32,12,46,20,23,23,32,...,32,20,10,18,32,19,14,16,P,6.46
APTE SHWETA SUDHIR,35,16,20,36,20,65,20,24,24,22,...,47,21,14,19,41,23,19,20,P,7.92
BAIKAR SACHIN SITARAM,3,10,13,43,20,50,15,19,19,37,...,32,20,16,21,47,20,17,24,P,7.29

In [12]:
path2 = "/Users/prashant/Downloads/Student-Placement-Guidance/Cleaned-Data/2016-Passouts/2016.xlsx"
placement = pd.read_excel(path2)
placement.head()

                     Name                     Company  Package
0  AGRAWAL TEJAL GAJENDRA                   Accenture   350000
1      APTE SHWETA SUDHIR  Infinite Computing Systems   454000
2    BHAMRA JASPREET KAUR         Ark Technosolutions   144000
3    BHAYANI FORUM MANISH                     Infosys   325000
4     BHOPI DIPIKA PRAMOD                     Bitwise   300000

In [13]:
merge_with_company  = pd.merge(merge, placement, on = 'Name', how='left')
merge_with_company

,Name,M3-TH,M3-IA,M3-TW,DIS-TH,DIS-IA,OOPM-TH,OOPM-IA,OOPM-TW,OOPM-PR,...,DD-IA,DD-PR,MCC-TH,MCC-TW,MCC-IA,MCC-PR,P/F,GPA,Company,Package
0,AGRAWAL TEJAL GAJENDRA,19,18,24,58,20,60,20,24,24,...,18,23,40,23,19,24,P,7.67,Accenture,350000.0
1,ANSARI ASIF ILIYAS,35,15,13,33,17,58,19,22,21,...,12,18,21,20,14,18,F,0.00,NaN,NaN
2,ANUPAM RAJKUMAR DWIVEDI,25,16,14,32,12,46,20,23,23,...,10,18,32,19,14,16,P,6.46,NaN,NaN
3,APTE SHWETA SUDHIR,35,16,20,36,20,65,20,24,24,...,14,19,41,23,19,20,P,7.92,Infinite Computing Systems,454000.0
4,BAIKAR SACHIN SITARAM,3,10,13,43,20,50,15,19,19,...,16,21,47,20,17,24,P,7.29,NaN,NaN
5,BANDGAR RAHUL CHANDRAKANT,21,16,17,21,16,32,13,19,18,...,9,20,32,19,11,19,F,0.00,NaN,NaN
6,BANDKAR SANSKAR DATTA,32,17,15,43,20,51,19,22,22,...,10,21,36,21,14,18,P,6.79,NaN,NaN
7,BARGE RITESH SUBHASH,22,15,11,32,19,40,17,21,21,...,15,17,40,20,17,24,P,7.21,NaN,NaN
8,BARI DHEERAJ SUNIL,13,14,10,32,12,39,8,18,20,...,14,20,42,22,17,22,P,7.63,NaN,NaN
9,BHAGAT ABHISHEK ARUN,30,13,10,32,16,40,14,20,20,...,11,23,32,23,11,18,P,6.17,NaN,NaN
10,BHAMRA JASPREET KAUR RAJANDER SINGH,10,16,19,45,20,37,17,21,21,...,14,23,38,22,18,18,P,7.83,NaN,NaN
11,BHAYANI FORUM MANISH,35,14,11,37,19,57,19,22,23,...,17,19,51,19,15,20,P,8.17,Infosys,325000.0
12,BHOPI DIPIKA PRAMOD,18,16,19,42,20,40,20,23,23,...,9,19,35,19,15,22,P,7.96,Bitwise,300000.0
13,BIST ASHISH RAJENDER,32,17,15,32,17,60,19,22,23,...,10,21,39,20,13,24,P,7.25,NaN,NaN
14,BOBADE AKSHATA BALASAHEB,32,15,20,59,20,51,18,22,23,...,18,20,42,21,19,22,P,8.83,NaN,NaN
15,BORKAR PRATHAMESH PRAKASH PRAJAKTA,22,15,23,41,17,54,18,23,21,...,13,19,32,21,16,19,P,6.88,NaN,NaN
16,BUJAD NETRA RAMAN,32,17,15,35,18,66,18,22,22,...,15,19,32,20,14,21,F,0.00,NaN,NaN
17,CHAITANYA RAJIV HALDANKAR,17,12,21,33,15,42,10,19,20,...,13,24,18,23,11,17,F,0.00,NaN,NaN
18,CHAUDHARI AKSHAY AVINASH,18,16,13,46,20,61,19,22,23,...,14,22,39,18,13,21,P,7.50,NaN,NaN
19,CHAUGULE VAIBHAV SHIVAJI ARUNA,15,13,17,34,15,49,17,21,20,...,13,22,50,21,17,24,P,7.75,NaN,NaN
20,CHAUHAN PRADEEP MAHENDRAPAL SINGH,6,10,10,32,8,44,8,18,19,...,8,18,32,12,10,15,F,0.00,NaN,NaN
21,DADAS AMOL RAMCHANDRA,42,17,17,45,18,63,19,22,21,...,16,22,62,24,20,24,P,9.08,Escan / Microworld,225000.0
22,DAGA JYOTI GHANSHYAM,38,13,23,44,19,63,19,22,21,...,17,22,37,22,19,20,P,8.08,Accenture,350000.0
23,DAS SANDIPAN UTPAL,34,14,11,32,20,47,13,18,20,...,13,18,38,16,16,19,P,6.92,NaN,NaN
24,DESAI VIRALI NALIN,32,12,14,32,18,54,18,22,23,...,16,23,36,20,16,22,P,8.50,NaN,NaN
25,DESHMUKH PRIYANKA VIJAY,32,18,13,32,19,57,20,23,22,...,17,21,32,19,15,19,P,7.63,Accenture,350000.0
26,DHEERAJ PANKAJ GUPTA,9,14,22,40,14,68,18,22,22,...,15,24,44,23,18,24,P,8.42,NaN,NaN
27,DOKE AKSHEN BHARAT,4,14,19,32,15,52,19,23,24,...,13,21,32,22,16,24,P,7.29,iGate,315000.0
28,DOSHI SUNNY NILESH,41,17,11,46,18,57,16,20,19,...,15,17,45,21,19,19,P,8.08,Accenture,350000.0
29,FOTARIYA CHINTAN SHAILESH,32,18,22,39,20,66,20,24,24,...,16,21,38,23,19,23,P,8.25,Viteos Capital,240000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,RAO SHRAVAN SATISHCHANDRA,10,13,17,19,19,41,12,18,20,...,12,23,15,19,11,20,F,0.00,NaN,NaN
112,ROY KIRAN PRADEEP KUMAR,78,17,23,51,20,70,20,24,24,...,19,24,59,20,17,19,P,9.38,NaN,NaN
113,SALUNKE ANIKET VASANT,9,9,10,36,14,36,10,18,20,...,11,17,35,15,13,18,P,6.63,NaN,NaN
114,SAMANT SHARWIN SANDESH,9,9,14,11,15,37,11,18,19,...,16,18,37,18,10,19,P,6.54,NaN,NaN
115,SEVAK PURVESH RAJEN,44,18,10,47,20,63,18,22,21,...,17,19,54,20,18,18,P,8.46,Tech Mahindra,300000.0
116,SHARMA DEEPAK MEWALAL,30,15,17,50,20,66,18,22,21,...,17,20,39,20,15,19,P,7.63,Accenture,350000.0
117,SHARMA PANKAJ MANOJ,18,13,23,36,17,47,16,22,20,...,14,20,37,17,13,19,P,7.58,NaN,NaN
118,SHARMA SATISH RAMDHANI,23,18,19,45,20,59,19,23,23,...,17,24,34,19,17,23,P,7.83,Tata Consultancy Services Ltd,340000.0
119,SHEDGE SAYALI TANAJI,62,18,23,54,20,65,20,23,23,...,19,21,50,22,20,24,P,9.33,NaN,NaN
120,SHENOY SIDDHI SHIRISH,35,16,12,42,20,51,18,22,21,...,17,20,36,21,18,18,P,8.63,Accenture,350000.0
121,SHETTY VISHMITA YASHWANT,60,19,23,46,20,65,20,24,24,...,20,24,51,24,20,24,P,9.33,Merilent Inc.,360000.0
122,SHIRKE SWAPNIL SUNIL,13,13,16,17,17,32,12,18,19,...,14,19,35,16,13,15,P,6.54,NaN,NaN
123,SHUKLA JANVI GIRISH,17,14,18,32,19,52,19,23,23,...,16,22,38,20,16,21,P,7.50,Tech Mahindra,300000.0
124,SIDDIQUI MOHAMMAD KAMAL SALAUDDIN,67,19,20,41,20,57,20,24,24,...,18,20,52,22,18,24,P,9.00,NaN,NaN
125,SOHONI AMEY VASANT,22,13,10,21,14,27,12,18,20,...,10,20,43,15,10,15,P,6.38,NaN,NaN
126,SUTHAR PARTH SURESHCHANDRA,20,15,10,44,19,40,17,21,22,...,17,19,44,15,17,15,P,7.63,Accion Labs,300000.0
127,TAMBDE ANIKET ANANT,13,11,12,36,17,32,11,18,20,...,15,22,40,22,15,22,P,7.50,NaN,NaN
128,TAMBDE KSHITIJ SANJAY,19,14,14,32,20,34,14,18,23,...,10,18,33,15,9,16,P,6.25,NaN,NaN
129,THAKUR ASHOKCHAND HIKMATCHAND,25,15,10,39,20,50,19,23,23,...,17,22,52,19,19,19,P,8.29,Infosys,325000.0
130,TIGDI BHAKTI SHASHIKANT,44,16,15,37,19,55,17,21,21,...,16,19,32,19,15,22,P,7.79,iGate,315000.0
131,TRIPATHI ABHISHEK RAVI,48,16,10,35,19,55,19,23,22,...,18,21,47,20,16,23,P,8.08,NaN,NaN
132,TRIVEDI KUSHAGRA UDAI,21,15,14,43,19,53,19,23,22,...,16,24,41,20,18,23,P,8.25,NaN,NaN
133,VAKADIA BHAVIK DHIRUBHAI,15,17,20,39,20,57,19,23,23,...,19,23,50,23,18,24,P,8.50,NaN,NaN
134,VARTAK SIDDHESH VINAY,6,14,10,45,18,45,14,18,19,...,16,22,44,19,13,17,P,7.96,iGate,315000.0
135,VEKARIYA ARJUN DILIPBHAI,23,13,10,42,20,38,13,18,20,...,16,20,38,18,13,17,P,7.96,Accenture,350000.0
136,VONTELA SUMEDH AMARENDER REDDY,12,12,10,32,14,34,13,18,22,...,8,17,32,15,10,15,P,5.58,NaN,NaN
137,WALZADE KISHOR CHANDRABHAN,54,17,17,44,20,65,17,21,23,...,17,23,47,23,19,23,P,8.67,NaN,NaN
138,YADAV AMIT KUMAR SHIVPRASAD,34,11,10,34,20,65,19,23,23,...,17,20,51,19,17,21,P,8.25,Infosys,325000.0
139,YADAV ARCHANA NOKHELAL,47,18,23,47,20,58,20,23,23,...,18,22,46,20,16,23,P,8.92,NaN,NaN
140,YEDE AKASH NIVRUTTI,14,15,13,38,17,50,18,22,21,...,17,18,57,22,15,19,P,8.83,Accenture,350000.0

In [14]:
writer = pd.ExcelWriter('2016_merged.xlsx')

In [15]:
merge_with_company.to_excel(writer,"2016_merged")
writer.save()